.login-main {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.login-form {
	margin: auto;
	width: 180px;
}

.label-form {
	display: block;
}

.input-form {
	display: block;
	margin-bottom: 20px;
	font-size: 18px;
	width: 180px;
	box-sizing: border-box;
}

.login-btn {
	cursor: pointer;
	width: 180px;
	font-size: 18px;
	margin: auto;
}

.contant-main {
display: flex;
}

h2 {
	text-align: center;
}